# Ignore ALL except ~/bin
/*
!/bin

# Git configuration
/.gitconfig
/.gitignore
/.gitmodules

# and add only this dotfiles
/.XCompose
/.Xresources
/.config/awesome/
/.config/termite/
/.config/user-dirs.conf
/.config/user-dirs.dirs
/.conky/conkybar
/.gmrunrc
/.svimrc
/.tmux.conf
/.vimrc
/.xbindkeysrc
/.xsession
/.zsh/my
/.zshrc
