[user]
    email = kapsh@kap.sh
    name = Alexander Kapshuna

[push]
    default = simple

[alias]

    # Shortcuts for simple commands
    co = checkout
    st = status -sb
    commend = commit --amend
    staged = diff --staged

    lg = log --graph --abbrev-commit --decorate --format=format:'\
%C(bold blue)%h%C(reset) \
%C(bold white)%s%C(reset)\
%C(magenta)%d%C(reset)\
%n        \
%C(green)%an%C(reset)\
%C(cyan) - %ar%C(reset) \
%C(yellow)(%ai)%C(reset)\
%n'

    # Remove specified file from staged changes
    unstage = reset HEAD --

[core]
    excludesfile = .config/global_gitignore

[pager]
    branch = false
    stash = false

    tag = less -F

    # Is there a way to use variable for this?
    diff = diff-so-fancy | less --tabs=4 -R
    log = diff-so-fancy | less --tabs=4 -R
    show = diff-so-fancy | less --tabs=4 -R
    lg = less  # fancy and patterns interfere with graph

[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red 52
    newNormal = green
    newHighlight = green 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red
    new = green
    whitespace = red reverse

[diff]
    algorithm = histogram

[rebase]
    autosquash = true

[tag]
	sort = creatordate

[protocol]
	version = 2
