# Ignore ALL except ~/bin
/*
!/bin

# Git configuration
!/.gitconfig
!/.gitignore
!/.gitmodules

# and add only this dotfiles
!/.XCompose
!/.Xresources
!/.xbindkeysrc
!/.xsession
!/.xinitrc

!/.config/
/.config/*
!/.config/awesome
!/.config/termite/config
!/.config/user-dirs.conf
!/.config/user-dirs.dirs
!/.config/rofi/
!/.config/global_gitignore
!/.config/kitty
!/.config/kitty/kitty.conf
!/.config/nvim

!/.conky/conkybar

!/.gmrunrc
!/.svimrc
!/.tmux.conf
!/.vimrc
!/.pylintrc

!/.zsh
/.zsh/*
!/.zsh/my
!/.zshrc

# IPython: include only config.py and startup scripts from profile dirs
!/.python_startup.py
!/.ipython
/.ipython/*
!/.ipython/profile_*/
/.ipython/profile_*/*
!/.ipython/profile_*/ipython_config.py
!/.ipython/profile_*/startup/
/.ipython/profile_*/startup/*
!/.ipython/profile_*/startup/*.py
