[user]
    email = kapsh@kap.sh
    name = kapsh

[push]
    default = simple

[alias]

    # Shortcuts for simple commands
    co = checkout
    st = status -sb
    commend = commit --amend
    staged = diff --staged

    lg = log --graph --abbrev-commit --decorate --format=format:'\
%C(bold blue)%h%C(reset) \
%C(bold white)%s%C(reset)\
%C(bold yellow)%d%C(reset)\
%n        \
%C(white)%an%C(reset)\
%C(bold green) - %ar%C(reset) \
%C(cyan)(%ai)%C(reset)\
%n'

    # Digest on all local branches
    branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

    # Rollback commit but keep changes
    undo = reset --mixed HEAD~1

    # Remove specified file from staged changes
    unstage = reset HEAD --

    # Update master and rebase on it
    shift = !git fetch origin master && git rebase master

[core]
	excludesfile = .config/global_gitignore
