# Ignore all except dotfiles and ~/bin
/[^.]*
!/bin

########################################
#	Ignore							   #
########################################

# Shell stuff
/.bash_history
/.fastfile
/.oh-my-zsh
/.z
.zcompdump*
/.zsh-update
/.zsh_history

# Very private
/.ssh/

# wow such desktop much shit
/.cache/
/.dbus/
/.icons/
/.local/
/.thumbnails/
/.Xauthority
/.xdisplay
/.java/
/.config/*

# Music players data
/.lyrics
/.covers

# Browsers data
/.links
/.w3m

# History files
/.lesshst
/.gnuplot_history
/.gmrun_history
/.recently-used
/.python_history

# Games
/.xgamelist
/.openarena/

# Exclude vim runtime files and vundle-managed stuff
/.vim-runtime
/.vim/misc/notes
/.vim/bundle

# Misc
/.qingy
/.wget-hsts
/.pki/
/.python-eggs/

########################################
# Include this						   #
########################################

# .config is full of bloatware, but contains some manually created files. Add them.

!/.config/awesome/
!/.config/termite/
!/.config/htop/htoprc

# XDG directories setup
!/.config/user-dirs.conf
!/.config/user-dirs.dirs

