/* vim: set ft=css : */
configuration {
	theme: "Arc-Dark";
	show-icons: true;
	sidebar-mode: true;
	font: "mono 14";

    /* possible positions:
    1 2 3
    8 0 4
    7 6 5
    */
	location: 0;

	terminal: "kitty";
	click-to-exit: true;
}
